body {
    background-image: url('fondoweb.jpg');
    background-size: cover; /* Esto ajustará la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    /* Otras propiedades de estilo que desees agregar */
}

/* Estilo para el encabezado (header) */

/* Estilo para el encabezado (header) */
header {
    background-color: hwb(0 100% 0% / 0.5); /* Fondo translúcido (RGBA) */
    color: #000000; /* Cambia el color de texto según tus preferencias */
    text-align: center;
    padding: 20px; /* Añade relleno interno para el contenido del encabezado */
    font-family: "Arial", sans-serif; /* Cambia el tipo de letra a Arial o tu elección */
    font-size: 24px; /* Cambia el tamaño de la fuente según tus preferencias */
    border-radius: 15px; /* Bordes redondeados */
    display: flex;
    justify-content: center;
    align-items: center;
    
}


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}